__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.spec
chrome_data/
wble_auth_states/
wble_auth_state.json
wble_config.json
wble_config.json.bak
wble_state.json
wble_state.json.bak
WBLE_Downloads/
config.json
*.log
*.log.*
*.tmp
scan_success.gif
upload_release.py
